.search-icon{
  background-image: url('../public/assets/search_icon.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 28px;
  padding: 10px;
  display: block;
}