.active{
    color:#3383fa;
    cursor: pointer;
    &:hover{
        color: #236cdc;
    }
}

.btn-payment{
    background-color: #3383fa;
    border: 0px;
    text-align: center;
    color:#fff;
    border-radius: 4px;
    width: 85%;
    padding: 15px 10px;
    &:hover{
        background-color: #2077ef;
        cursor: pointer;
    }
}

//**=== Slugs or Migas Pan===**//
.slugs-content{
    margin: 20px 0px;
    .slugs{
        display: flex;
        font-size: 12px;
        padding-left: 4px;
        list-style: none;
    }
    .list-slug{
        &::after {
            background-image: url(./../public/assets/arrow_right.svg);
            background-size:cover;
            display: inline-block;
            position: relative;
            top:2px;
            margin: auto 4px;
            width: 12px;
            height: 12px;
            content:"";
        }
    }

}

@media(max-width: 790px) {
    .slugs-content {
        margin: 20px 5px;
    }
}

@media(max-width: 480px) {
    .slugs-content {
        margin: 4px;
        .slugs{
            font-size: 10px;
            display: flex;
            flex-wrap: wrap;
        }
        .list-slug{
            &::after {
                top:2px;
                width: 7px;
                height: 7px;
                margin: 1px;
            }
        }

    }
}
