@import 'mixins';
@import 'icons';
@import 'ui';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "./node_modules/react-alice-carousel/lib/scss/alice-carousel.scss";
html {
  @include box-sizing(border-box);
  font-family: 'Roboto', sans-serif;
  background: #eeeeee;
}

*,
*:after,
*:before {
  @include box-sizing(inherit);
}

body{
  overflow-x: hidden;
}

textarea input:focus, number:focus,  input:focus{
  outline: none;
}

//**==== Header Style  ====**//

.header{
  background: #ffe600;
  padding: 10px;
  height: 60px;

  .container{
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: auto;
  }

  .logo{
    padding: 0px 10px;
    cursor: pointer;
  }

  .form_search{
    display: flex;
  }

  .form_search .input_search{
    width: 100%;
    border-radius: 4px 0px 0px 4px;
    border: 0px;
    height: 40px;
    padding: 10px;
  }

  .form_search .btn_search{
    border-radius: 0px 4px 4px 0px;
    border:0px;
    margin-left: -10px;
    cursor:pointer;
  }

}

@media(max-width: 480px){
  .header .form_search .input_search{
    font-size: 12px;
  }
}


//**==== Article List  ====**//

.bg-article{
  max-width: 1000px;
  margin: auto;
  height: 100%;
  display: block;
  .container{
    background: #fff;
    margin: 0px auto 80px auto;
    padding: 10px;
  }
}

.article-list {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  padding: 20px 20px;

  .article-content {
    display: flex;
    font-size: 16px;
    width: 100%;
    padding-left: 20px;
  }

  .article-info{
    width: 60%;
    padding-left: 10px;
  }

  .article-city{
    margin-top: 20px;
    font-size: 12px;
    text-align: right;
    width: 30%;
  }
}
@media(max-width: 1000px) {
  .bg-article {
    max-width: 790px;
  }
}

@media(max-width: 790px){

  .bg-article{
    max-width: 650px;
    .container{
      background: #fff;
      margin: 0px 8px 80px 8px;
      padding: 10px;
    }
  }

  .article-list {
    padding: 0px;
    .article-content {
      font-size: 12px;
      margin-top: 0px;
      display: block;
    }
    .article-city{
      font-size: 12px;
      text-align: right;
      width: 90%;
    }
  }
}

@media(max-width: 480px){

  .bg-article{
    .container{
      background: #fff;
      margin: 0px 6px 80px 6px;
      padding: 10px;
    }
  }


}


//**==== Article General  ====**//

.article-general{
    max-width: 1000px;
    margin: auto;
  .article-info{
    display: flex;
    .title{
      color:#333333;
      font-size: 24px;
      line-height: 30px;
    }
    .price{
      font-size: 30px;
      color:#333333
    }
  }
  .container{
     width: 50%;
   }
  .aside-container{
    width: 40%;
  }
}

@media(max-width: 790px){
  .article-general{
    .container{
      width: 55%;
    }
  }
}


@media(max-width: 480px) {
  .article-general {
    .container {
      width: 100%;
    }
    .aside-container {
      order: 1;
      width: 90%;
      padding: 0px;
      margin: auto;
      margin-bottom: 20px
    }
  }

  //Order Columns Responsive
  .article-general .article-info{
    display: flex;
    flex-direction: column;
  }

  .article-general :nth-child(2) {
    order: 1;
  }
  .article-general  :nth-child(1) {
    order: 2;
  }
}


//**==== Search List  ====**//
.search_result{
  background: #fff;
  padding: 10px 10px 10px 10px;
  border-top:1px solid #cecece;
  z-index: 9999;
  position: relative;
  .search_content{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #cecece;
  }
  .search_image{
    width: 13%;
  }
  .search_info{
    width: 80%;
    padding-left: 10px;
    a{
      text-decoration: none;
    }
    .title{
      font-size: 14px;
      text-align: left;
      color: #424242;
      &:hover{
        color:#236cdc;
      }
    }

  }
  .price_info{
    width: 20%;
    price{
      color: #2a2a2a;
    }
  }
}

@media (max-width: 480px) {
  .search_result {
    position: absolute;
    width: 100%;
    left: 0px;

    .search_info {
      .title {
        font-size: 10px;
      }
    }
    .price_info {
      .price {
        font-size: 12px;
        color: #2a2a2a;
      }
    }
  }
}

//**=== Carousel Gallery Style ===**//
//https://github.com/maxmarinich/react-alice-carousel
.alice-carousel__stage-item.__active{
  background-color: #e2e2e2;
}
.alice-carousel__dots-item{
  background-color: #cecece !important;
}
.alice-carousel__dots-item.__active{
  background-color: #3383fa!important;
}


//**==== Page Not Found  ====**//
.title_not_found{
  text-align: center;
  color: #361e34;
  font-size: 24px;
}

.btn_not_found{
  background: #0e5490;
  color:#fff;
  padding: 10px 20px;
  margin: auto;
  border-radius: 20px;
  display: block;
  width: 200px;
  text-align: center;
  text-decoration: none;
}

.btn_not_found:hover {
  background: #105ba0;
}


